{% load static %}

<b><p>{{ empresas.format_value }}</p></b>

{% for x in nome %}
    <ul>
        x.cnpj
        <li><a href="{% url 'polls:detail_operation' x.id %}">{{x.produtoBndes}} || {{ x.cliente }}</li></a>

    </ul>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>